/*site-ba-bar开始*/
.site-ba-bar a{
    display: block;
    /*将行元素装转成块元素设置宽高*/
    width: 100%;
    height: 100%;
}
.site-ba-bar{
    height: 200px;
    background:url("../img/banner.jpg") ; no-repeat 50% 50%

}
/*site-ba-bar结束*/
/*site-ba-bar开始*/
.site-ba-bar a{
    display: block;
    /*将行元素装转成块元素设置宽高*/
    width: 100%;
    height: 100%;
}
.site-ba-bar{
    height: 200px;
    background:url("../img/banner.jpg") ; no-repeat 50% 50%

}
/*site-ba-bar结束*/

/*na-bar开始*/
.na-bar {
    background: #333;
    height: 40px;
    line-height: 40px;
}
.na-bar li{
    float: left;
    padding-left:6px;
    padding-right: 6px;


}

.na-bar a{
    text-align: center;
    height: 14px;
    width: 40px;
    color: #b0b0b0;
    font-size: 14px;
}
.na-bar .sep{
    margin: 0  6px;
    color: #424242;
}
.na-bar  a:hover{
    color: white;
}


.user-info{
    float:right;
}
.cart{

    width: 120px;
    position: relative;
    text-align: center;
}
.cart a{
    width: 100%;
    height: 100%;
    display: block;
}
.cart a:hover{
    background: #ffff;
    color: #ff6700;
}
.cart:hover .cart-box{
    display: block;
    animation:show 0.5s ease-in forwards;

}
@keyframes show {
    100%{
        height: 85px;
    }
}
.cart-box {
    width: 300px;
    height: 0px;
    padding-top;
    15px;
    background: #ffffff;
    border: 1px solid #e0e0e0 \9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0, 15);
    position: absolute;
    right: 0;
    top: 40px;
    display: none;

    z-index: 2;
    /*按优先级显示*/

}
/*na-bar结束*/
/*header开始*/
.header{
    height: 100px;
    position: relative;

}


.header-menu{
    float: left;
    margin-left: 185px;
    height: 100px;
    line-height: 100px;

}

.header-menu  .menu-item{
    float: left;
    padding-left:6px;
    padding-right: 6px;
}
.header-menu .menu-item:hover  .sub-menu{
    display: block;
    animation:slide  0.5s ease-in forwards;
}
@keyframes slide {
    100%{
        height: 226px;
    }

}
.header-menu a{
    color: #333;
    font-size: 16px; ;
}
.header-menu a:hover{
    color: #ff6700;
}


.sub-menu{
    height: 0;
    width: 100%;
    border-top: 1px solid  #e0e0e0;
    position: absolute;
    left: 0;
    top: 100px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15px);
    background: #ffffff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18) ;
    display: none;
    overflow: hidden;
    /*溢出隐藏*/
    z-index: 2;
}
.sub-menu ul{
    overflow: hidden;
    width: 1224px;
    margin: 0 auto;
}
.sub-menu li{
    width: 204px;
    height: 201px;
    float: left;
    text-align: center;
    position: relative;
}




.flags{
    height: 17px;
    line-height: 17px;
    margin-bottom: 17px;

}
.flags span{
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
    padding: 1px 14px;
}

.p-img{
    height: 110px;
    display: block;
    margin-bottom: 12px;
}
.p-title{
    color: #333;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.p-price{
    color: #ff6700;
    height: 20px;
    line-height: 20px;
    font-size: 12px;

}
.p-line{
    width: 1px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 36px;
    background: #e0e0e0;
}
.search{
    width: 300px;
    height: 50px;
    float: right;
    margin-top: 20px;
    position: relative;


}
.search-txt{
    width: 222px;
    height: 48px;
    border: 1px  solid #e0e0e0;
    padding: 0 10px ;
    float: left;
    /*display: block;*/

}
.search-btn {
    background: #ffffff;
    width: 55px;
    height: 50px;
    float: left;
    border: 1px  solid #e0e0e0;
    border-left:0 ;
    cursor: pointer; /*鼠标变小手;*/
    position: relative;
    background: transparent; /*透明色背景*/
    z-index: 1;
}
.search-btn:hover +i{  /*btn划过让后面的兄弟元素变色*/
    color: #fff;
    background: #ff6700;
}

.icon-fangdajing{
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
}

/*header结束*/
/*轮播图开始*/
.slider-box{
    position: relative;
}
.slider{
    position: relative;
    height: 460px;
}

.img-box img{
    width: 1226px;
    height:460px;
    position: absolute;
    left: 0;
    top: 0;
}
.prev-btn {
    width: 41px;
    height: 70px;
    position: absolute;
    left: 234px;
    top: 50%;
    margin-top: -35px;
    font-size: 50px;
    color: #757575;
    line-height: 69px;
    text-align: center;
    border-radius:4px ; /*轮廓角变圆*/
}
.prev-btn:hover{
    background: rgba(0,0,0,0.7);
    color: #ffffff;
}
.next-btn{
    width: 41px;
    height: 70px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -35px;
    font-size: 50px;
    color: #757575;
    line-height: 69px;
    text-align: center;
    border-radius:4px ; /*轮廓角变圆*/
}
.next-btn:hover{
    background: rgba(0,0,0,0.75);
    color: #ffffff;
}
.btns li{
    height: 6px;
    width: 6px;
    background: #232429;
    border: 2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius:50% ;/*轮廓角变圆*/
    cursor: pointer; /*鼠标变小手;*/
}
.btns li:hover{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
.btns{
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 20px;
}



.list{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px  0;
    width: 234px;
    background: rgba(0,0,0,0.6)
}

.item>a{
    display: block;
    height: 42px;
    line-height: 42px;
    padding-left:30px ;
    color: #ffffff;
    font-size: 14px;
}
.item>a:hover{
    background: #ff6700;
}
.icon-arrow{
    float: right;
    width: 16px;
    height: 16px;
    margin-right:25px ;
}
.sub-list{
    position: absolute;
    top: 0;
    left:234px ;
    background:#ffffff;
    height: 100%;
    display: none;
    border-top:1px solid #e0e0e0;
    border-shadow:5px 3px 18px 2px rgba(0,0,0,0.18) ;
}
.sub-list-4{
    width: 992px;
}
.sub-list-4 ul{
    float: left;
    width: 248px;
}
.sub-list-4 ul li{
    padding: 18px 20px;
    overflow: hidden;
}
.list-img{
    width: 40px;
    height: 40px;
    vertical-align: middle; /*图片与文字对齐*/
}
.list-title{
    font-size: 14px;
    color: #333;
}
.list-img-box{
    float: left;
    height: 100%;
    width: 132px;
}
.list-img-box:hover span{
    color: #ff6700;

}
.item:hover .sub-list{  /*滑动item时找到sub-list*/
    display: block;

}

/*轮播图结束*/





/*频道列表开始*/
.channel-box{
    margin-top: 14px;
    margin-bottom:26px;
    overflow: hidden; /*解决塌陷*!/*/
}
.channel-list{
    width: 234px;
    height: 170px;
    background: #5f5750;
    float: left; /*解决了沾满整行*/

}
.channel-list ul{
    overflow: hidden;
    padding: 3px 3px 0;

}
.channel-list li{
    width: 76px;
    height: 82px;
    float: left;
    position: relative;
}
.channel-list li:hover i,.channel-list li:hover span{
    color: #fffcf9;
}
.channel-list i{
    display: block;
    font-size: 24px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    margin-top:18px  ;
}
.channel-list span{
    display: block;
    text-align: center;
    color:  rgba(255,255,255,0.7);
    font-size: 12px;
}

/*使用伪类元素*/
li.right::after {
    content: "";
    position: absolute;
    right: 0;
    top: 9px;
    width: 1px;
    height: 64px;
    background: #665e57;
}
li.bottom::before {
    content: "";
    width: 64px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 6px;
    background: #665e57;
}
.promo-list{
    float: left;
}
.promo-list a{
    float: left;
}
.promo-list img{
    width: 316px;
    height: 170px;
    margin-left: 15px;
}
.promo-list a .list-one{
    margin-left: 14px;
}
/*频道列表结束*/



/*明星单品开始*/
.star-box{
    position: relative;
}
.star-title{
    font-size: 22px;
    color: #333333;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.more-box{
    position: absolute;
    right: 0px;
    top: 20px;
}
.more-box i{
    border: 2px solid #e0e0e0;
    color:#e0e0e0;
    width: 45px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.more-box .icon-left{
    border-right:none ;
}
.more-box i.icon-avtive{
    color: #b0b0b0;
}
.more-box i.icon-avtive:hover{
    color: #ff6700;
}
.pro-list li{
    width: 234px;
    height: 301px;
    background: #fafafa;
    padding-top: 39px;
    margin-right: 14px;;

    float: left;
}
.pro-img-box{
    display: block;
    text-align: center;
    margin-bottom: 22px;

}

.pro-list{
    overflow: hidden; /*溢出隐藏*/

}
.pro-list ul{
    width: 2480px;
}
.pro-list img{
    width: 160px;
    height: 160px;
}
.pro-title{
    display: block;
    height: 21px;
    line-height: 21px;
    color: #212121;
    text-align: center;
    font-size: 14px;
    margin-bottom:3px ;

}
.pro-dest{
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom:12px ;

}
.pro-price{
    text-align: center;
    font-size: 14px;
    color: #ff6700;

}
.color-1{
    border-top:1px solid #ff6700;
}
.color-2{
    border-top:1px solid #83c44e;
}
.color-3{
    border-top:1px solid #2196f3;
}
.color-4{
    border-top:1px solid #e53935;
}
.color-5{
    border-top:1px solid #00c0a5;
}

.color-6{
    border-top:1px solid #ff6700;
}
.color-7{
    border-top:1px solid #83c44e;
}
.color-8{
    border-top:1px solid #2196f3;
}
.color-9{
    border-top:1px solid #e53935;
}
.color-10{
    border-top:1px solid #00c0a5;
}
/*明星单品结束*/






/*guanggao2开始*/
.guanggao2 .guanggao{
    width: 1226px;
    height: 120px;
    margin-top: 40px;
}
/*guanggao2结束*/
/*家电开始*/
.content-box{
    background: #f5f5f5;
    padding-top: 60px;

}



.homeelec-box{
    position: relative;
}
.homeelec-title{
    font-size: 22px;
    color: #333333;
    font-weight: 200;
    height: 58px;
    line-height: 58px;


}
.tab-btns{
    color: #424242;
    font-size: 16px;
    position: absolute;
    top: 18px;;
    right: 0;
}
.tab-btns li{
    float: left;
    margin-left: 30px;
}
.tab-btns .active{
    color: #ff6700;
    border-bottom:2px solid #ff6700 ;
}
.box-left{
    float: left;
}
.box-left .box-left01{
    width: 234px;
    height: 614px;
}
.box-right{
    float: left;
    width: 992px;

    overflow: hidden;
}
.box-right .box-right01{
    width: 150px;
    height: 150px;

}

.box-right .item-bottom{
    margin-bottom: 0px;
}
.box-right li{
    width: 234px;
    height: 300px;
    background: #ffffff;
    margin-left: 14px;
    margin-right: 0;
    margin-bottom: 14px;
    float: left;
    text-align: center;
    position: relative;
}
.box-bd{
    /*overflow: hidden;*/
    height: 619px;
}
.bd-review{
    height:0px; /*初始高度为0*/
    background: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;/*溢出隐藏*/
    /*padding: 8px 30px;*/

}
.bd-review a{
    padding: 8px 30px;
    display: block;
}
.review{
    color: #ffffff;
    font-size:12px ;
    display: block;
}
.author{
    font-size: 12px;
    color: rgba(255,255,255,0.6);
}


/*动画效果*/
.box-right li:hover  .bd-review{
    animation:re-show 0.3s ease forwards ;
}
@keyframes re-show {
    100%{
        height: 76px;
    }
}
.box-right li:hover{
    box-shadow: 0px  8px 16px rgba(0, 0, 0, 0.18);/*阴影*/
..
}
/*家电结束*/

.guanggao3{
    width: 1226px;
    height: 120px;
    background: #f5f5f5;
    margin-top: 40px;
}