/*css reset (样式重置)*/
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
image{
    border: 0;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}


/*公共样式*/
/*site-ba-bar开始*/
.site-ba-bar a{
    display: block;
    /*将行元素装转成块元素设置宽高*/
    width: 100%;
    height: 100%;
}
.site-ba-bar{
    height: 200px;
    background:url("../img/banner.jpg") ; no-repeat 50% 50%

}
/*site-ba-bar结束*/

/*na-bar开始*/
.na-bar {
    background: #333;
    height: 40px;
    line-height: 40px;
}
.na-bar li{
    float: left;
    padding-left:6px;
    padding-right: 6px;


}

.na-bar a{
    text-align: center;
    height: 14px;
    width: 40px;
    color: #b0b0b0;
    font-size: 14px;
}
.na-bar .sep{
    margin: 0  6px;
    color: #424242;
}
.na-bar  a:hover{
    color: white;
}


.user-info{
    float:right;
}
.cart{
    width: 120px;
    position: relative;
    text-align: center;
}
.cart a{
    width: 100%;
    height: 100%;
    display: block;
}
.cart a:hover{
    background: #ffff;
    color: #ff6700;
}
.cart:hover .cart-box{
    display: block;
    animation:show 0.5s ease-in forwards;

}
@keyframes show {
    100%{
        height: 85px;
    }
}
.cart-box{
    width: 300px;
    height: 0px;
    padding-top; 15px;
    background: #ffffff;
    border: 1px solid #e0e0e0 \9;
    box-shadow: 0 2px 10px rgba(0,0,0,0,15);
    position: absolute;
    right:0;
    top: 40px;
    display: none;

    z-index: 1;
    /*按优先级显示*/

}
/*na-bar结束*/







/*header开始*/
.header{
    height: 100px;
    position: relative;

}


.header-menu{
    float: left;
    margin-left: 185px;
    height: 100px;
    line-height: 100px;

}

.header-menu  .menu-item{
    float: left;
    padding-left:6px;
    padding-right: 6px;
}
.header-menu .menu-item:hover  .sub-menu{
    display: block;
    animation:slide  0.5s ease-in forwards;
}
@keyframes slide {
    100%{
        height: 226px;
    }

}
.header-menu a{
    color: #333;
    font-size: 16px; ;
}
.header-menu a:hover{
    color: #ff6700;
}


.sub-menu{
    height: 0;
    width: 100%;
    border-top: 1px solid  #e0e0e0;
    position: absolute;
    left: 0;
    top: 100px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15px);
    background: #ffffff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18) ;
    display: none;
    overflow: hidden;
    /*溢出隐藏*/
}
.sub-menu ul{
    overflow: hidden;
    width: 1224px;
    margin: 0 auto;
}
.sub-menu li{
    width: 204px;
    height: 201px;
    float: left;
    text-align: center;
    position: relative;
}




.flags{
    height: 17px;
    line-height: 17px;
    margin-bottom: 17px;

}
.flags span{
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
    padding: 1px 14px;
}

.p-img{
    height: 110px;
    display: block;
    margin-bottom: 12px;
}
.p-title{
    color: #333;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.p-price{
    color: #ff6700;
    height: 20px;
    line-height: 20px;
    font-size: 12px;

}
.p-line{
    width: 1px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 36px;
    background: #e0e0e0;
}
.search{
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 20px;
    position: relative;


}
 .search-txt{
     width: 222px;
     height: 48px;
     border: 1px  solid #e0e0e0;
     border-right:0 ;
     padding: 0 10px ;
     float: left;
     /*display: block;*/

}
 .search-btn {
     background: #ffffff;
     width: 52px;
     height: 50px;
     float: left;
     border: 1px  solid #e0e0e0;
     border-left:0 ;
     cursor: pointer; /*鼠标变小手;*/
     position: relative;
     background: transparent;


 }

.icon-search{
    position: absolute;
    right: 19px;
    top: 18px;

   }
/*.search i:hover{*/
    /*background: #ff6700;*/
    /*display: block;*/
/**/
/**/
/*}*/


/*header结束*/