/*css reset (样式重置)*/
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
image{
    border: 0;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}



/*公共样式*/













