/*css reset (样式重置)*/
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
image{
    border: 0;
}
.wrapper{
    width: 1226px;
    margin: 0 auto;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}



/*公共样式*/
/*site-ba-bar开始*/
.site-ba-bar a{
    display: block;
    /*将行元素装转成块元素设置宽高*/
    width: 100%;
    height: 100%;
}
.site-ba-bar{
    height: 200px;
    background:url("../img/banner.jpg") ; no-repeat 50% 50%

}
/*site-ba-bar结束*/

/*na-bar开始*/
.na-bar {
    background: #333;
    height: 40px;
    line-height: 40px;
}
.na-bar li{
    float: left;
    padding-left:6px;
    padding-right: 6px;


}

.na-bar a{
    text-align: center;
    height: 14px;
    width: 40px;
    color: #b0b0b0;
    font-size: 14px;
}
.na-bar .sep{
    margin: 0  6px;
    color: #424242;
}
.na-bar  a:hover{
    color: white;
}


.user-info{
    float:right;
}
.cart{

    width: 120px;
    position: relative;
    text-align: center;
}
.cart a{
    width: 100%;
    height: 100%;
    display: block;
}
.cart a:hover{
    background: #ffff;
    color: #ff6700;
}
.cart:hover .cart-box{
    display: block;
    animation:show 0.5s ease-in forwards;

}
@keyframes show {
    100%{
        height: 85px;
    }
}
.cart-box {
    width: 300px;
    height: 0px;
    padding-top;
    15px;
    background: #ffffff;
    border: 1px solid #e0e0e0 \9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0, 15);
    position: absolute;
    right: 0;
    top: 40px;
    display: none;

    z-index: 2;
    /*按优先级显示*/

}
/*na-bar结束*/







/*header开始*/
.header{
    height: 100px;
    position: relative;

}


.header-menu{
    float: left;
    margin-left: 185px;
    height: 100px;
    line-height: 100px;

}

.header-menu  .menu-item{
    float: left;
    padding-left:6px;
    padding-right: 6px;
}
.header-menu .menu-item:hover  .sub-menu{
    display: block;
    animation:slide  0.5s ease-in forwards;
}
@keyframes slide {
    100%{
        height: 226px;
    }

}
.header-menu a{
    color: #333;
    font-size: 16px; ;
}
.header-menu a:hover{
    color: #ff6700;
}


.sub-menu{
    height: 0;
    width: 100%;
    border-top: 1px solid  #e0e0e0;
    position: absolute;
    left: 0;
    top: 100px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15px);
    background: #ffffff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18) ;
    display: none;
    overflow: hidden;
    /*溢出隐藏*/
    z-index: 2;
}
.sub-menu ul{
    overflow: hidden;
    width: 1224px;
    margin: 0 auto;
}
.sub-menu li{
    width: 204px;
    height: 201px;
    float: left;
    text-align: center;
    position: relative;
}




.flags{
    height: 17px;
    line-height: 17px;
    margin-bottom: 17px;

}
.flags span{
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
    padding: 1px 14px;
}

.p-img{
    height: 110px;
    display: block;
    margin-bottom: 12px;
}
.p-title{
    color: #333;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.p-price{
    color: #ff6700;
    height: 20px;
    line-height: 20px;
    font-size: 12px;

}
.p-line{
    width: 1px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 36px;
    background: #e0e0e0;
}
.search{
    width: 300px;
    height: 50px;
    float: right;
    margin-top: 20px;
    position: relative;


}
 .search-txt{
     width: 222px;
     height: 48px;
     border: 1px  solid #e0e0e0;
     padding: 0 10px ;
     float: left;
     /*display: block;*/

}
 .search-btn {
     background: #ffffff;
     width: 55px;
     height: 50px;
     float: left;
     border: 1px  solid #e0e0e0;
     border-left:0 ;
     cursor: pointer; /*鼠标变小手;*/
     position: relative;
     background: transparent; /*透明色背景*/
     z-index: 1;
 }
.search-btn:hover +i{  /*btn划过让后面的兄弟元素变色*/
    color: #fff;
    background: #ff6700;
}

.icon-fangdajing{
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
   }

/*header结束*/


/*slider开始*/
.slider-box{
    position: relative;
}
.slider{
    position: relative;
    height: 460px;
}

.img-box img{
    width: 1226px;
    height:460px;
    position: absolute;
    left: 0;
    top: 0;
}
.prev-btn {
    width: 41px;
    height: 70px;
    position: absolute;
    left: 234px;
    top: 50%;
    margin-top: -35px;
    font-size: 50px;
    color: #757575;
    line-height: 69px;
    text-align: center;
    border-radius:4px ; /*轮廓角变圆*/
}
.prev-btn:hover{
    background: rgba(0,0,0,0.7);
    color: #ffffff;
}
.next-btn{
    width: 41px;
    height: 70px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -35px;
    font-size: 50px;
    color: #757575;
    line-height: 69px;
    text-align: center;
    border-radius:4px ; /*轮廓角变圆*/
}
.next-btn:hover{
    background: rgba(0,0,0,0.75);
    color: #ffffff;
}
.btns li{
    height: 6px;
    width: 6px;
    background: #232429;
    border: 2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius:50% ;/*轮廓角变圆*/
    cursor: pointer; /*鼠标变小手;*/
}
.btns li:hover{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
.btns{
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 20px;
}



.list{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px  0;
    width: 234px;
    background: rgba(0,0,0,0.6)
}

.item a{
    display: block;
    height: 42px;
    line-height: 42px;
    padding-left:30px ;
    color: #ffffff;
    font-size: 14px;
}
.item a:hover{
    background: #ff6700;
}
.icon-arrow{
    float: right;
    width: 16px;
    height: 16px;
    margin-right:25px ;
}
/*slider结束*/