<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <button @click="fn()">add</button>
        <ul>
            <li v-for="val in arr">{{val}}</li>

        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                msg:'',
                arr:[]
            },
            methods:{
                fn:function(){
                    this.arr.push(this.msg);
                    this.msg='';
                }
            }

        })
    </script>

</body>
</html>